_main.Rmd
covpn_correlates_cor_logistic_id27hpv.tex
nohup.out
cor_coxph/output/*
.nfs80ca7186000a11ce00000044
renv/settings.json
*.rds
*.rda
.Rhistory
.RData
.Ruserdata
.DS_Store
*.reg
*.log
_book
_bookdown_files
packages.bib
cor_threshold/figs/simultaneous_CI/*.rds
cor_threshold/figs/pointwise_CI/*.rds
# ignore build directories
_report_immuno/*.pdf
_report_immuno/*.html
_report_riskscore/*.pdf
_report_riskscore/*.html
_report_cor/*.pdf
_report_cor/*.html
_report_cop/*.pdf
_report_cop/*.html
data_clean/.README.md.swp
covpn_correlates_cor.Rmd
covpn_correlates_cor.tex
cor_coxph/cor_coxph_report.tex
cor_coxph/output/*
cor_coxph/cor_coxph_report.aux
cor_coxph/cor_coxph_report.utf8.md
cor_coxph/output/D29/controlled_ve_curves2_mock.pdf
data_raw/COVID_VEtrial_practicedata_primarystage1.zip
cor_graphical/data_clean/longer_cor_data_plot1.csv
cor_graphical/data_clean/plot.25sample1.csv
data_clean/practice_data no29.zip
data_clean/practice_data w29.zip
data_clean/practice_data._wo29zip
cor_coxph/Rplots.pdf
data_raw/READMECOVID_VEtrial_practicedatasets_v3.txt
cor_coxph/*.pdf
cor_nonlinear/output/*
data_clean/janssen_pooled_mock_data_processed.zip
cor_graphical/.Rprofile
cor_graphical/renv/activate.R
cor_graphical/output/*
cor_graphical/*.pdf
cor_graphical/*.RDS
cor_graphical/code/*.txt
cor_graphical/data_clean/*
immuno_graphical/*.pdf
immuno_graphical/*.png
immuno_graphical/*.csv
immuno_graphical/*.RDS
immuno_graphical/*.db
immuno_graphical/figs/*.db
immuno_graphical/output/*
immuno_graphical/data_clean/*
cor_nonlinear/output/*
cop_mediation/*.html
data_raw/janssen/COVID_ENSEMBLE_realdata.csv
covpn_correlates_cor_moderna_mock.tex
cor_surrogates/output/*
cor_surrogates/figs/*
correlates_reporting2-2.Rproj
.Rproj.user
