###################################################################################################
# trials

# difference between timepoints and times: times helps define markers

default: &default
  is_ows_trial: no
  case_cohort: no

hvtn705base: &hvtn705base
  two_marker_timepoints: no
  timepoints: [210]
  subset_variable: None
  subset_value: All
  llox_label: loq
  times: [B, Day210] 
  time_labels: [Day 1, Day 210]
  study_name: HVTN705
  covariates_riskscore: ~.+ RSA + Age + BMI + Riskscore
  num_boot_replicates: 1000
  num_perm_replicates: 10000
  ve_ylim: [-1,1]
  low_efficacy: yes # used to drive some plotting configurations


hvtn705: &hvtn705
  <<: *hvtn705base
  assays: [ELCZ,ADCPgp140C97ZAfib,IgG340mdw_V1V2,IgG340mdw_gp120_gp140_vm,mdw_xassay,ELMo,IgG3gp140C97ZAfibritin40delta,IgG3gp140Mos1fibritin40delta,IgG3gp4140delta,IgG340mdw_gp120,IgG340mdw_gp140,IgG340mdw_multi]
  assay_labels: [IgG Vx-VT-C,ADCP Vx-C97ZA,IgG3 V1V2 breadth,IgG3 Env breadth,Multi-epitope functions,IgG Vx-VT-M,IgG3 gp140 Vx-C97ZA,IgG3 gp140 Vx-Mosaic,IgG3 gp41,IgG3 gp120 breadth,IgG3 gp140 breadth,IgG3 Multi-epitope]
  lloxs: [40,NA,NA,NA,NA,50,NA,NA,NA,NA,NA,NA]
  uloqs: [1884160,NA,NA,NA,NA,1869824,22000,22000,22000,NA,NA,NA]
  primary_assays: [ELCZ,ADCPgp140C97ZAfib,IgG340mdw_V1V2,IgG340mdw_gp120_gp140_vm,mdw_xassay] 
  multivariate_assays: [ELCZ,ADCPgp140C97ZAfib,IgG340mdw_V1V2,IgG340mdw_gp120_gp140_vm] 
  data_cleaned: /trials/vaccine/p705/analysis/lab/cc/copcor/HVTN705_firstcasecontrolprocesseddata.csv
  #data_cleaned: ../../data/HVTN705_firstcasecontrolprocesseddata.csv

hvtn705V1V2: &hvtn705V1V2
  <<: *hvtn705base
  assays: [IgG3AE.A244.V1V2.Tags.293F40delta,IgG3C.1086C.V1.V2.Tags40delta,IgG3gp70.001428.2.42.V1V240delta,IgG3gp70.1012.11.TC21.3257.V1V240delta,IgG3gp70.1394C9G1.V1V240delta,IgG3gp70.BF1266.431a.V1V240delta,IgG3gp70.Ce1086.B2.V1V240delta,IgG3gp70.B.CaseA.V1.V240delta]
  assay_labels: [IgG3 V1V2 AE.A244.Tags,IgG3 V1V2 C.1086.Tags,IgG3 gp70 V1V2.001428.2.42,IgG3 gp70 V1V2.1012.11.TC21.3257,IgG3 gp70 V1V2.1394C9G1,IgG3 gp70 V1V2.BF1266.431a,IgG3 gp70 V1V2.Ce1086,IgG3 gp70 V1V2.B.CaseA]
  lloxs: [1,1,1,1,1,1,1,1]
  uloqs: [22000,22000,22000,22000,22000,22000,22000,22000]
  primary_assays: [IgG3AE.A244.V1V2.Tags.293F40delta,IgG3C.1086C.V1.V2.Tags40delta,IgG3gp70.001428.2.42.V1V240delta,IgG3gp70.1012.11.TC21.3257.V1V240delta,IgG3gp70.1394C9G1.V1V240delta,IgG3gp70.BF1266.431a.V1V240delta,IgG3gp70.Ce1086.B2.V1V240delta,IgG3gp70.B.CaseA.V1.V240delta]
  data_cleaned: /trials/vaccine/p705/analysis/lab/cc/copcor/HVTN705_firstcasecontrolprocesseddata_withindividualV1V2markers.csv



ows_trial: &ows_trial
  forestplot_script: cor_coxph_forestplots_ows.R
  is_ows_trial: yes
  case_cohort: yes
  llox_label: lod

moderna_trial: &moderna_trial
  <<: *ows_trial
  two_marker_timepoints: yes
  timepoints: [29, 57]
  subset_variable: None
  subset_value: All
  assays: [bindSpike, bindRBD, pseudoneutid50, pseudoneutid80]
  assay_labels: [Binding Antibody to Spike, Binding Antibody to RBD, PsV Neutralization 50% Titer, PsV Neutralization 80% Titer]
  assay_labels_short: [Anti Spike IgG (BAU/ml), Anti RBD IgG (BAU/ml), Pseudovirus-nAb cID50, Pseudovirus-nAb cID80]
  times: [B, Day29, Day57, Delta29overB, Delta57overB, Delta57over29]
  time_labels: [Day 1, Day 29, Day 57, D29 fold-rise over D1, D57 fold-rise over D1, D57 fold-rise over D29]
  data_raw_dir: moderna
  study_name_code: COVE
  covariates_riskscore: ~.+ MinorityInd + HighRiskInd + risk_score
  covariates_norisksco: ~.+ MinorityInd + HighRiskInd + Age
  ve_ylim: [0,1]
  low_efficacy: no

moderna_real: &moderna_real
  <<: *moderna_trial
  data_cleaned: /trials/covpn/p3001/analysis/correlates/adata/P3001ModernaCOVEimmunemarkerdata_correlates_processed_v1.0_Oct28_2021.csv
  study_name: COVE
  num_boot_replicates: 1000
  num_perm_replicates: 10000

moderna_mock: &moderna_mock
  <<: *moderna_trial
  data_cleaned: NA
  study_name: MockCOVE
  num_boot_replicates: 10
  num_perm_replicates: 10


janssen_trial: &janssen_trial
  <<: *ows_trial
  two_marker_timepoints: no
  timepoints: [29]
  times: [B, Day29, Delta29overB]
  time_labels: [Day 1, Day 29, D29 fold-rise over D1]
  data_raw_dir: janssen
  study_name_code: ENSEMBLE
  ve_ylim: [0,1]
  low_efficacy: yes # used to drive some plotting configurations

janssen_trial_real: &janssen_trial_real
  <<: *janssen_trial
  data_cleaned: /trials/covpn/p3003/analysis/correlates/Part_A_Blinded_Phase_Data/adata/janssen_pooled_real_data_processed_with_riskscore.csv
  assays: [bindSpike, bindRBD]
  assay_labels: [Binding Antibody to Spike, Binding Antibody to RBD]
  assay_labels_short: [Anti Spike IgG (BAU/ml), Anti RBD IgG (BAU/ml)]
  primary_assays: [] 
  study_name: ENSEMBLE
  num_boot_replicates: 1000
  num_perm_replicates: 10000

janssen_trial_realADCP: &janssen_trial_realADCP
  <<: *janssen_trial
  data_cleaned: /trials/covpn/p3003/analysis/correlates/Part_A_Blinded_Phase_Data/adata/janssen_pooled_realADCP_data_processed_with_riskscore.csv
  assays: [ADCP]
  assay_labels: [Phagocytic Score]
  assay_labels_short: [Phagocytic Score]
  primary_assays: [] # have it be empty if no multitesting adjustment should be done
  study_name: ENSEMBLE
  num_boot_replicates: 1000
  num_perm_replicates: 10000

janssen_pooled_real: 
  <<: *janssen_trial_real
  subset_variable: None
  subset_value: All
  covariates_riskscore: ~.+ risk_score + as.factor(Region)
  covariates_norisksco: ~.+ Age        + as.factor(Region)

janssen_na_real: 
  <<: *janssen_trial_real
  subset_variable: Region
  subset_value: 0
  covariates_riskscore: ~.+ risk_score
  covariates_norisksco: ~.+ Age

janssen_la_real: 
  <<: *janssen_trial_real
  subset_variable: Region
  subset_value: 1
  covariates_riskscore: ~.+ risk_score
  covariates_norisksco: ~.+ Age

janssen_sa_real: 
  <<: *janssen_trial_real
  subset_variable: Region
  subset_value: 2
  covariates_riskscore: ~.+ risk_score
  covariates_norisksco: ~.+ Age

janssen_pooled_realADCP: 
  <<: *janssen_trial_realADCP
  subset_variable: None
  subset_value: All
  covariates_riskscore: ~.+ risk_score + as.factor(Region)
  covariates_norisksco: ~.+ Age        + as.factor(Region)


janssen_trial_mock: &janssen_trial_mock
  <<: *janssen_trial
  data_cleaned: NA
  assays: [bindSpike, bindRBD]
  assay_labels: [Binding Antibody to Spike, Binding Antibody to RBD]
  assay_labels_short: [Anti Spike IgG (BAU/ml), Anti RBD IgG (BAU/ml)]
  study_name: MockENSEMBLE
  num_boot_replicates: 10
  num_perm_replicates: 10

janssen_pooled_mock:
  <<: *janssen_trial_mock
  subset_variable: None
  subset_value: All
  covariates_riskscore: ~.+ risk_score + as.factor(Region)
  covariates_norisksco: ~.+ Age        + as.factor(Region)

janssen_na_mock:
  <<: *janssen_trial_mock
  subset_variable: Region
  subset_value: 0
  covariates_riskscore: ~.+ risk_score
  covariates_norisksco: ~.+ Age

janssen_la_mock:
  <<: *janssen_trial_mock
  subset_variable: Region
  subset_value: 1
  covariates_riskscore: ~.+ risk_score
  covariates_norisksco: ~.+ Age

janssen_sa_mock:
  <<: *janssen_trial_mock
  subset_variable: Region
  subset_value: 2
  covariates_riskscore: ~.+ risk_score
  covariates_norisksco: ~.+ Age


###################################################################################################
# correlates analyses

# there are some redundancy in ph1, ph2, WtStratum, wt in that given the first three, we can compute wt
# the redundancy is not needed if we only have single time point analyses
# but for double time points analyses, we need more than one weight variable
# the reason we need WtStratum is that for bootstrapping (needed for some single time point analyses)

# primary endpoint D57 markers
D57:
  ph1: ph1.D57
  ph2: ph2.D57
  wt: wt.D57
  WtStratum: Wstratum
  EventIndPrimary: EventIndPrimaryD57   
  EventTimePrimary: EventTimePrimaryD57   
  tpeak: 57
  tpeaklag: 7
  tfinal.tpeak: 0
  txt.endpoint: COVID
  txt.coxph.note2: No. at-risk = estimated number in the population for analysis, i.e. baseline negative per-protocol vaccine recipients not experiencing the COVID endpoint or infected through 6 days post Day 57 visit; no. cases = number of this cohort with an observed COVID endpoint.

# primary endpoint D29 markers
D29:
  ph1: ph1.D29
  ph2: ph2.D29
  wt: wt.D29
  WtStratum: Wstratum
  EventIndPrimary: EventIndPrimaryD29  
  EventTimePrimary: EventTimePrimaryD29
  tpeak: 29
  tpeaklag: 7
  tfinal.tpeak: 0
  txt.endpoint: COVID
  txt.coxph.note2: No. at-risk = estimated number in the population for analysis, i.e. baseline negative per-protocol vaccine recipients not experiencing the COVID endpoint or infected through 6 days post Day 29 visit; no. cases = number of this cohort with an observed COVID endpoint.

# sensitivity analyses for D29 markers, starting at 1, instead of 7, day after D29 visit
D29start1:
  ph1: ph1.D29start1
  ph2: ph2.D29start1
  wt: wt.D29start1
  WtStratum: Wstratum
  EventIndPrimary: EventIndPrimaryD29  
  EventTimePrimary: EventTimePrimaryD29
  tpeak: 29
  tpeaklag: 1
  tfinal.tpeak: 0
  txt.endpoint: COVID
  txt.coxph.note2: No. at-risk = estimated number in the population for analysis, i.e. baseline negative per-protocol vaccine recipients not experiencing the COVID endpoint or infected through Day 29 visit; no. cases = number of this cohort with an observed COVID endpoint.

# primary endpoint D29 markers
# IncludeNotMolecConfirmed, for ensemble
D29IncludeNotMolecConfirmed:
  ph1: ph1.D29
  ph2: ph2.D29
  wt: wt.D29
  WtStratum: Wstratum
  EventIndPrimary: EventIndPrimaryIncludeNotMolecConfirmedD29  
  EventTimePrimary: EventTimePrimaryIncludeNotMolecConfirmedD29
  tpeak: 29
  tpeaklag: 7
  tfinal.tpeak: 0
  txt.endpoint: COVID
  txt.coxph.note2: No. at-risk = estimated number in the population for analysis, i.e. baseline negative per-protocol vaccine recipients not experiencing the COVID endpoint or infected through 6 days post Day 29 visit; no. cases = number of this cohort with an observed COVID endpoint.

# sensitivity analyses for D29 markers, starting at 1, instead of 7, day after D29 visit
# IncludeNotMolecConfirmed, for ensemble
D29IncludeNotMolecConfirmedstart1:
  ph1: ph1.D29start1
  ph2: ph2.D29start1
  wt: wt.D29start1
  WtStratum: Wstratum
  EventIndPrimary: EventIndPrimaryIncludeNotMolecConfirmedD29  
  EventTimePrimary: EventTimePrimaryIncludeNotMolecConfirmedD29
  tpeak: 29
  tpeaklag: 1
  tfinal.tpeak: 0
  txt.endpoint: COVID
  txt.coxph.note2: No. at-risk = estimated number in the population for analysis, i.e. baseline negative per-protocol vaccine recipients not experiencing the COVID endpoint or infected through Day 29 visit; no. cases = number of this cohort with an observed COVID endpoint.

D210:
  ph1: Ph1ptids.D210
  ph2: Ph2ptids.D210
  wt: wt.D210
  WtStratum: Sampstratum.D210
  tpsStratum: tps.stratum
  EventIndPrimary: Delta.D210   
  EventTimePrimary: Ttilde.D210
  tpeak: 210
  tpeaklag: 1
  tfinal.tpeak: 550
  txt.endpoint: HIV
  txt.coxph.note2: No. at-risk = estimated number in the population for analysis, i.e. per-protocol vaccine recipients not infected through 1 days post Month 7 visit; no. cases = number of this cohort with an observed endpoint.

  
####################
# two time points 

D29D57:
  tinterm: 29
  tpeak: 57
  tpeaklag: 7
  txt.endpoint: COVID
