figs/moderna_real/*.png
output/moderna_real/*.csv
output/moderna_real/*.rda
output/moderna_real/*.rds
figs/moderna_real_previous/*.png
output/moderna_real_previous/*.csv
output/moderna_real_previous/*.rda
output/moderna_real_previous/*.rds
figs/hvtn705second/*.png
output/hvtn705second/*.csv
output/hvtn705second/*.rda
output/hvtn705second/*.rds
figs/janssen_pooled_partA/*.png
output/janssen_pooled_partA/*.csv
output/janssen_pooled_partA/*.rda
output/janssen_pooled_partA/*.rds
figs/janssen_la_partA/*.png
output/janssen_la_partA/*.csv
output/janssen_la_partA/*.rda
output/janssen_la_partA/*.rds
output/*.csv
output/*.rda
output/*.rds
output/*.*
report.pdf
*.pdf
slurm*.out
core
