nohup.out
data_clean/*.RData
verification/*.RData
verification/*.Rdata
data_clean/*.rda
data_clean/*.rds
cor_coxph_report.pdf
report.knit.md
report.utf8.md
report.pdf
cor_coxph_report.pdf
output/*
cor_coxph_report.log
code/explore_iliad.pdf